 @import url(https://fonts.googleapis.com/css?family=Roboto:700);

 body {background-color: #1c5868;}

#holder{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: white;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
}
.buttonQuiz {
  background: #3D4C53;
  margin : 20px auto;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background : #26A69A;
  left : -250px;
  transition : .3s;
}
.btnText {
  color : white;
  transition : .3s;
}
.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
  color : #FFF;
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}

.overall-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: 2em;
}

h1{
    text-align: center;
}

h2{
    align-content: center;
}

.centre{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    align-content: center;
    background-color: #41d3f4;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #DFD5ED;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    border-radius: 5%;
}

#question{
    border: 1px solid black;
    width: 72%;
    height: 15%;
    align-self: center;
    text-align: center;
    padding: 0.5%;
    margin: 1%;
    padding-top: 10%;
}

.modal-flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 1%;
}

.row label{
    border: 1px solid black;
    width: 30%;
    height: 10%;
    padding: 0.5%;
    text-align: center;
    padding-top: 10%;
}

#scores{
    align-self: right;
    color: purple;
}

.wordCloud{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.papaPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.options-flex-main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.options-flex-submain{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.optionButton{
    margin: 1%;
    width: 50%;
    height: 15%;
    border-radius: 30%;
}

.optionsLabels{
    display: flex;
    align-items: center;
    width: 15%;
    height: 15%;
}

#Youth{
    background-color: chartreuse;
}

#Home-Life{
    background-color: #41d3f4;
}

#Lifestyle-and-Culture{
    background-color: rgb(255, 0, 157);
}

#Work-Life{
    background-color: rgb(0, 17, 255);
}

#Miscellaneous{
    background-color: rgb(255, 0, 0);
}

.QuizLabels{
    background-color: aqua;
    border-radius: 10%;
    align-self: center;
}